/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Fira+Sans:wght@100&family=Island+Moments&family=Kanit:ital,wght@0,200;0,300;1,100&family=Kaushan+Script&family=Open+Sans:wght@300&family=Oxygen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Roboto+Condensed&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@100;200&family=Roboto:wght@100;400&family=Source+Code+Pro:wght@200&family=Teko&display=swap');
body{
    font-family: 'Teko', sans-serif;
}
.card-img-top{
    width: 200px;
    height: 200px;
    transition: 0.5s;

}
.card-img-top:hover{
    /* scale: 1.25; */
    transform: scale(1.25);
    transition: 0.5s;
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}
.p1{
    margin-top: 150px;
}
.p2{
    margin-top: 150px;
}
.p3{
    margin-top: 100px;
}